/* margin mixin */
@mixin margin-body {
  margin-left: 10px;
  margin-right: 10px;
}

@mixin margin-div {
  margin-right: 15px;
  margin-left: 15px;
}

body{
  @include margin-body;
}
div {
  @include margin-div;
}