.container{
  display: flex;
  max-width: 700px;
  width: 100%;
  margin: 30px auto;
  align-items: center;
}

.box{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  flex-shrink: 1;
}

.box1, .box5{
  font-size: 1.3rem;
  flex-grow: 1;
}

.box2, .box4{
  font-size: 1.9rem;
  flex-grow: 2;
  height: 100px;
}

.box3{
  font-size: 4.8rem;
  flex-grow: 3;
  height: 150px;
}

.box1{background-color: #4CAF50;}
.box2{background-color: #2196F3;}
.box3{background-color: #607D8B;}
.box4{background-color: #673AB7;}
.box5{background-color: #FF9800;}
